.navbar.navbar-inverse {
  background: #ff0000;
  border: none; }
  .navbar.navbar-inverse .navbar-toggle {
    border: none !important;
    background: transparent !important; }
.navbar .navbar-brand {
  color: white;
  text-shadow: none; }
.navbar .navbar-back span {
  padding: 15px;
  color: white;
  float: right; }

@media (max-width: 768px) {
  .navbar-header {
    float: left; } }

#datePicker {
  cursor: pointer;
  background-color: white; }

.form-wrapper {
  padding: 15px; }

.btn-success {
  background: #ff0000 !important;
  border-color: #ff0000 !important; }

.glyphicon-default {
  color: white; }

#mainMap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 575px;
  margin-top: 5px;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 0;
  position: relative;
  background-image: url("../img/stuttgart_osterreicherPlatz.PNG"); }
  #mainMap #location-circle {
    border-radius: 50%;
    border: 1px solid white;
    background-color: #4285f4;
    height: 15px;
    width: 15px;
    position: absolute; }
  #mainMap #main-circle {
    border-radius: 50%;
    border: thin solid green;
    background-color: rgba(0, 255, 0, 0.3);
    height: 135px;
    width: 135px;
    position: absolute; }
  #mainMap #middle-circle {
    border-radius: 50%;
    border: thin solid yellow;
    background-color: rgba(255, 247, 0, 0.3);
    height: 250px;
    width: 250px;
    position: absolute; }
  #mainMap #last-circle {
    border-radius: 50%;
    border: thin solid red;
    background-color: rgba(255, 15, 15, 0.3);
    height: 373px;
    width: 370px;
    position: absolute; }

.disabled {
  background-color: white;
  color: #444;
  border: none;
  box-shadow: none; }

#persistent-footer {
  position: fixed;
  bottom: 0;
  width: 94%; }
  #persistent-footer .footer-nav {
    background-color: white; }
  #persistent-footer .btn-group {
    width: 100%; }
  #persistent-footer .btn-default {
    width: 50%; }

.place-card-large {
  display: none; }

.overlay {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  /* your iframe height */ }

.circle {
  height: 27px;
  width: 27px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: center; }

.circle-green {
  border: 2px solid green; }

.circle-red {
  border: 2px solid red; }

.blue-border {
  border-color: blue !important; }


/* changes made in RShiny below */


.shiny-input-container:not(.shiny-input-container-inline) {
    width: auto;
    max-width: 100%;
}
#rmv {
  float: right;
}
.hide {
  display: none;
}
.show{
  display: block;
}
.control-label {
  padding: 0;
}
.disable {
  pointer-events: none;
  background-color: #ededed!important;
  box-shadow: none;
  border: none;
}
.shiny-output-error-validation {
  color: #31708f;
  height: 50px!important;
  background-color: #d9edf7;
  padding: 15px;
  border: thin solid #d9edf9;
  border-radius: 4px;
}
#footer {
  border-top: thin solid #ddd;
  padding-top: 10px;
}